body {
  background-color: #171056;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Dictionary {
  background-color: white;
  border-radius: 10px;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

h1 {
  font-size: 55px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.button {
  background-color: #c04f4c;
  color: white;
  border: none;
}

.app-footer {
  color: white;
  margin-top: 20px;
}
